html, body {
  height: 100%;
  width: 100%;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.container{  
    margin-top:10vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    width:100%;
}
#inputs{
  display:flex;
  justify-content:center;
  width:70vw;
  flex-wrap:wrap;
}
.item{
    border: none;
    background: #53e3b2;
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 7px;
    color: white;
    font-size: 25px;
    font-family: monospace;
    font-weight: 500;
}
.item:hover{
  cursor:pointer;
}
.container h2{
    margin: 10px;
    font-family: monospace;
    font-size: 35px;
}
.guessInput{
      font-weight: bolder;
    font-size: 30px;
    border-top: 0;
    margin: 3px;
    border-right: 0;
    border-left: 0;
    width: 50px;
    font-family: cursive;
    text-align: center;
    color: #9110a1;
    background: #edfdfd;
}
.guessInput:focus{
  outline:none;
  }
.score{
    margin: 30px;
    font-size: 20px;
    font-family: sans-serif;
    color:grey;
}
.afterClick{
  opacity:0.5;
}
#over{
  font-size:33px;
  font-family:sans-serif;
  color:#e12323;
}
#word{
    letter-spacing: 1px;
    font-size: 24px;
    font-family: monospace;
    color: mediumturquoise;
    font-weight: 900;
    display:none;
}
#replay{
    font-family: monospace;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 2px;
    background: #ff203f;
    display:none;
}